body {
  margin: 0;
  /* 设置页面边距为0，去除默认边距 */
  font-family: Arial, sans-serif;
  /* 设置页面字体为Arial, 如果没有则使用sans-serif */
}

.menu-button {
  position: absolute;
  /* 设置按钮为绝对定位，可以根据其包含元素进行定位 */
  top: 3px;
  /* 设置按钮距离顶部3像素的位置 */
  right: 15px;
  /* 设置按钮距离右侧15像素的位置 */
  padding: 6px 8px;
  /* 设置按钮的上下内边距为6像素，左右内边距为8像素 */
  background-color: rgb(105, 155, 255);
  /* 设置按钮背景颜色为蓝色 */
  border: none;
  /* 不显示按钮的边框 */
  border-radius: 4px;
  /* 设置按钮的圆角半径为4像素 */
  cursor: pointer;
  /* 鼠标悬停时显示为指针形状，表示按钮可点击 */
}

.menu-icon {
  width: 24px;
  /* 设置菜单图标宽度为20像素 */
  height: 24px;
  /* 设置菜单图标高度为20像素 */
}

.menu {
  position: fixed;
  /* 固定定位，始终保持在 viewport 内 */
  top: 0;
  /* 菜单距离顶部0像素 */
  left: -100%;
  /* 初始位置在屏幕外，即左侧隐藏 */
  width: 60%;
  /* 菜单宽度为屏幕宽度的60% */
  height: 100%;
  /* 菜单高度为100% */
  background-color: rgb(204, 204, 204);
  /* 设置菜单背景颜色 */
  transition: left 0.3s;
  /* 添加菜单显示和隐藏时的平滑过渡效果 */
  padding: 15px;
  /* 菜单内边距为15像素 */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  /* 添加阴影效果，使菜单显得浮动 */
}

.menu-shub {
  position: fixed;
  /* 固定定位，始终保持在 viewport 内 */
  top: 0;
  /* 菜单距离顶部0像素 */
  right: -100%;
  /* 初始位置在屏幕外，即右侧隐藏 */
  width: 40%;
  /* 菜单宽度为屏幕宽度的60% */
  height: 100%;
  /* 菜单高度为100% */
  background-color: rgb(105, 155, 255);
  /* 设置菜单背景颜色 */
  transition: right 0.3s;
  /* 添加菜单显示和隐藏时的平滑过渡效果 */
  padding: 15px;
  /* 菜单内边距为15像素 */
}

.menu.show {
  left: 0;
  /* 当菜单显示时，将其位置设置为0，进入视口 */
}

.menu-shub.show {
  right: 0;
  /* 当菜单显示时，将其位置设置为0，进入视口 */
}

.menu-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* 使图片变成圆形 */ 
  align-items: center;
  /* 图片居中 */
}

/* 去除菜单列表的默认样式 */
.menu ul {
  list-style-type: none;
  /* 去除列表项的默认样式 */
  padding: 0;
  /* 去除列表的内边距 */
}

/* 设置菜单项的上下外边距 */
.menu li {
  margin: 15px 0;
  /* 设置每个菜单项上下的外边距为15像素 */
}

/* 去除菜单链接的下划线 */
.menu a {
  text-decoration: none;
  /* 去除链接文本的下划线 */
  color: black;
  /* 设置链接文本颜色为黑色 */
}

/* 鼠标悬停在链接上时添加下划线 */
.menu a:hover {
  text-decoration: underline;
  /* 鼠标悬停时显示下划线 */
}

.menu-bar {
  display: flex;
  /* 使用弹性布局显示菜单栏 */
  flex-direction: row;
  /* 设置菜单项的排列方向为水平 */
  background-color: rgba(242, 242, 242);
  /* 设置按钮背景颜色为透明 */
}

/* 容器样式 */
.container {
  top: 3px;
  /* 设置按钮距离顶部3像素的位置 */
  right: 10px;
  /* 设置按钮距离右侧10像素的位置 */
  padding: 0px;
  /* 设置按钮的上下内边距为6像素，左右内边距为8像素 */
  text-align: center;
  /* 文字居中对齐 */
  text-decoration: none;
  /* 无下划线 */
  cursor: pointer;
  /* 鼠标悬停时显示为手型 */
  flex-direction: row;
  /* 设置菜单项的排列方向为水平 */
  background-color: rgba(255, 0, 0, 0);
}

/* 点赞按钮样式 */
.likebutton {
  border: none;
  /* 无边框 */
  text-align: center;
  /* 文字居中对齐 */
  text-decoration: none;
  /* 无下划线 */
  cursor: pointer;
  /* 鼠标悬停时显示为手型 */
  width: 24px;
  /* 宽度为24像素 */
  height: 24px;
  /* 高度为24像素 */
  background-color: rgba(255, 255, 255, 0);
  /* 设置按钮背景颜色为透明 */
}

.likeButton {
  border: none;
  /* 无边框 */
  background-color: rgba(255, 255, 255, 0);
  /* 设置按钮背景颜色为透明 */
}

.likeCount {
  font-size: 15px;
  /* 设置字体大小为15像素 */
  margin: 0;
  /* 上下外边距设为0 */
  display: inline-block;
  /* 设为内联块元素 */
}
